## librerias

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib as plt
import seaborn as sns
import scipy.interpolate as interpolate

## Carga de datos

In [2]:

# Leer el archivo CSV
data_latinoamerica = pd.read_csv("data_latinoamerica.csv")

##  Se realiza un analisis exploratorio inicial para poder entender las caracteristicas de los datos que se poseen

In [3]:
# se imprimen los primeros datos
data_latinoamerica.head()

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,...,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
0,AR,2020-01-01,AR,Argentina,3.0,0.0,3.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
1,AR,2020-01-02,AR,Argentina,14.0,0.0,17.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
2,AR,2020-01-03,AR,Argentina,3.0,0.0,20.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
3,AR,2020-01-04,AR,Argentina,7.0,0.0,27.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
4,AR,2020-01-05,AR,Argentina,5.0,0.0,32.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN

## Se obtiene la informacion del dataframe

In [4]:
data_latinoamerica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12216057 entries, 0 to 12216056
Data columns (total 50 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   location_key                           object
 1   date                                   object
 2   country_code                           object
 3   country_name                           object
 4   new_confirmed                          float64
 5   new_deceased                           float64
 6   cumulative_confirmed                   float64
 7   cumulative_deceased                    float64
 8   cumulative_vaccine_doses_administered  float64
 9   population                             float64
 10  population_male                        float64
 11  population_female                      float64
 12  population_rural                       float64
 13  population_urban                       float64
 14  population_density                     float64
 15  human_development_index                float64
 16  population_age_00_09                   float64
 17  population_age_10_19                   float64
 18  population_age_20_29                   float64
 19  population_age_30_39                   float64
 20  population_age_40_49                   float64
 21  population_age_50_59                   float64
 22  population_age_60_69                   float64
 23  population_age_70_79                   float64
 24  population_age_80_and_older            float64
 25  gdp_usd                                float64
 26  gdp_per_capita_usd                     float64
 27  latitude                               float64
 28  longitude                              float64
 29  area_sq_km                             float64
 30  smoking_prevalence                     float64
 31  diabetes_prevalence                    float64
 32  infant_mortality_rate                  float64
 33  nurses_per_1000                        float64
 34  physicians_per_1000                    float64
 35  average_temperature_celsius            float64
 36  minimum_temperature_celsius            float64
 37  maximum_temperature_celsius            float64
 38  rainfall_mm                            float64
 39  relative_humidity                      float64
 40  population_largest_city                float64
 41  area_rural_sq_km                       float64
 42  area_urban_sq_km                       float64
 43  life_expectancy                        float64
 44  adult_male_mortality_rate              float64
 45  adult_female_mortality_rate            float64
 46  pollution_mortality_rate               float64
 47  comorbidity_mortality_rate             float64
 48  new_recovered                          float64
 49  cumulative_recovered                   float64
dtypes: float64(46), object(4)
memory usage: 4.6+ GB

## Obtenemos las dimensiones (forma) de un array o estructura de datos similar. (filas, columnas)

In [5]:
np.shape(data_latinoamerica)

(12216057, 50)

## Contamos la cantidad de nulos de todas las columnas

In [6]:
# Contar los valores nulos en cada columna
valores_nulos = data_latinoamerica.isnull().sum()
print("Cantidad de valores nulos por columna:")
print(valores_nulos)

Cantidad de valores nulos por columna:
location_key                                    0
date                                            0
country_code                                    0
country_name                                    0
new_confirmed                             5839054
new_deceased                              5893738
cumulative_confirmed                      5838685
cumulative_deceased                       5893376
cumulative_vaccine_doses_administered    11948128
population                                 532167
population_male                           1123794
population_female                         1123794
population_rural                         12196237
population_urban                         12196237
population_density                       12196237
human_development_index                   6705106
population_age_00_09                      1466680
population_age_10_19                      1466680
population_age_20_29                      1466680
population_age_30_39                      1466680
population_age_40_49                      1466680
population_age_50_59                      1466680
population_age_60_69                      1466680
population_age_70_79                      1466680
population_age_80_and_older               1466680
gdp_usd                                  12196237
gdp_per_capita_usd                       12195246
latitude                                   422166
longitude                                  422166
area_sq_km                                1883891
smoking_prevalence                       12201192
diabetes_prevalence                      12196237
infant_mortality_rate                    12197228
nurses_per_1000                          12197228
physicians_per_1000                      12198219
average_temperature_celsius                532872
minimum_temperature_celsius                532955
maximum_temperature_celsius                532990
rainfall_mm                                607817
relative_humidity                          533464
population_largest_city                  12196237
area_rural_sq_km                         12198219
area_urban_sq_km                         12198219
life_expectancy                          12196237
adult_male_mortality_rate                12196237
adult_female_mortality_rate              12196237
pollution_mortality_rate                 12197228
comorbidity_mortality_rate               12197228
new_recovered                            10119303
cumulative_recovered                     10120136
dtype: int64

## Contamos la cantidad de elementos que tiene cada una de las columnas

In [7]:
# Contar los valores no nulos en cada columna
valores_no_nulos = data_latinoamerica.notnull().sum()
print("Cantidad de valores no nulos por columna:")
print(valores_no_nulos)

Cantidad de valores no nulos por columna:
location_key                             12216057
date                                     12216057
country_code                             12216057
country_name                             12216057
new_confirmed                             6377003
new_deceased                              6322319
cumulative_confirmed                      6377372
cumulative_deceased                       6322681
cumulative_vaccine_doses_administered      267929
population                               11683890
population_male                          11092263
population_female                        11092263
population_rural                            19820
population_urban                            19820
population_density                          19820
human_development_index                   5510951
population_age_00_09                     10749377
population_age_10_19                     10749377
population_age_20_29                     10749377
population_age_30_39                     10749377
population_age_40_49                     10749377
population_age_50_59                     10749377
population_age_60_69                     10749377
population_age_70_79                     10749377
population_age_80_and_older              10749377
gdp_usd                                     19820
gdp_per_capita_usd                          20811
latitude                                 11793891
longitude                                11793891
area_sq_km                               10332166
smoking_prevalence                          14865
diabetes_prevalence                         19820
infant_mortality_rate                       18829
nurses_per_1000                             18829
physicians_per_1000                         17838
average_temperature_celsius              11683185
minimum_temperature_celsius              11683102
maximum_temperature_celsius              11683067
rainfall_mm                              11608240
relative_humidity                        11682593
population_largest_city                     19820
area_rural_sq_km                            17838
area_urban_sq_km                            17838
life_expectancy                             19820
adult_male_mortality_rate                   19820
adult_female_mortality_rate                 19820
pollution_mortality_rate                    18829
comorbidity_mortality_rate                  18829
new_recovered                             2096754
cumulative_recovered                      2095921
dtype: int64

## Se busca conocer el tamaÃ±o del dataframe y el nombre de las columnas

In [8]:
# Obtener el tamaÃ±o del DataFrame
tamano = data_latinoamerica.shape

# Obtener el nombre de las columnas
columnas = data_latinoamerica.columns

# Imprimir el tamaÃ±o y las columnas del DataFrame
print("TamaÃ±o del DataFrame:", tamano)
print("Columnas", columnas)

TamaÃ±o del DataFrame: (12216057, 50)
Columnas Index(['location_key', 'date', 'country_code', 'country_name', 'new_confirmed',
       'new_deceased', 'cumulative_confirmed', 'cumulative_deceased',
       'cumulative_vaccine_doses_administered', 'population',
       'population_male', 'population_female', 'population_rural',
       'population_urban', 'population_density', 'human_development_index',
       'population_age_00_09', 'population_age_10_19', 'population_age_20_29',
       'population_age_30_39', 'population_age_40_49', 'population_age_50_59',
       'population_age_60_69', 'population_age_70_79',
       'population_age_80_and_older', 'gdp_usd', 'gdp_per_capita_usd',
       'latitude', 'longitude', 'area_sq_km', 'smoking_prevalence',
       'diabetes_prevalence', 'infant_mortality_rate', 'nurses_per_1000',
       'physicians_per_1000', 'average_temperature_celsius',
       'minimum_temperature_celsius', 'maximum_temperature_celsius',
       'rainfall_mm', 'relative_humidity', 'population_largest_city',
       'area_rural_sq_km', 'area_urban_sq_km', 'life_expectancy',
       'adult_male_mortality_rate', 'adult_female_mortality_rate',
       'pollution_mortality_rate', 'comorbidity_mortality_rate',
       'new_recovered', 'cumulative_recovered'],
      dtype='object')

# se verifica la que tipo de elemento tienen las columnas 'location_key', 'country_code' y 'country_name'

In [9]:
columnas_relevantes = ['location_key', 'country_code', 'country_name']
datos_unicos = data_latinoamerica[columnas_relevantes].drop_duplicates()

print(datos_unicos)

         location_key country_code country_name
0                  AR           AR    Argentina
991              AR_A           AR    Argentina
1982         AR_A_007           AR    Argentina
2973         AR_A_014           AR    Argentina
3964         AR_A_021           AR    Argentina
...               ...          ...          ...
12211102         VE_U           VE    Venezuela
12212093         VE_V           VE    Venezuela
12213084         VE_X           VE    Venezuela
12214075         VE_Y           VE    Venezuela
12215066         VE_Z           VE    Venezuela

[12327 rows x 3 columns]

## Se crea un grupo de paises sobre los cuales se estudiara los efectos y concecuencias del COVId-19

In [10]:
#creo una lista con los paises seleccionados:
Paises_seleccionados = ["Colombia", "Argentina", "Chile", "Mexico", "Peru" , "Brazil"]
#se crea un amascara por paises y 
data_latinoamerica_filtro_1 = data_latinoamerica[data_latinoamerica["country_name"].isin(Paises_seleccionados)]

In [11]:
#verifico cantidad de datos
np.shape(data_latinoamerica_filtro_1)

(11970289, 50)

## Como primer paso de limpieza de datos se verifican los datos nulos por columna.

In [12]:
#verifico cantidad de datos nulos por columna
data_latinoamerica_filtro_1.isnull().sum()

location_key                                    0
date                                            0
country_code                                    0
country_name                                    0
new_confirmed                             5620283
new_deceased                              5661788
cumulative_confirmed                      5619937
cumulative_deceased                       5661426
cumulative_vaccine_doses_administered    11706131
population                                 521266
population_male                           1122803
population_female                         1122803
population_rural                         11964343
population_urban                         11964343
population_density                       11964343
human_development_index                   6472221
population_age_00_09                      1465689
population_age_10_19                      1465689
population_age_20_29                      1465689
population_age_30_39                      1465689
population_age_40_49                      1465689
population_age_50_59                      1465689
population_age_60_69                      1465689
population_age_70_79                      1465689
population_age_80_and_older               1465689
gdp_usd                                  11963352
gdp_per_capita_usd                       11962361
latitude                                   422166
longitude                                  422166
area_sq_km                                1871999
smoking_prevalence                       11964343
diabetes_prevalence                      11964343
infant_mortality_rate                    11964343
nurses_per_1000                          11964343
physicians_per_1000                      11964343
average_temperature_celsius                529625
minimum_temperature_celsius                529700
maximum_temperature_celsius                529736
rainfall_mm                                603612
relative_humidity                          530186
population_largest_city                  11964343
area_rural_sq_km                         11964343
area_urban_sq_km                         11964343
life_expectancy                          11964343
adult_male_mortality_rate                11964343
adult_female_mortality_rate              11964343
pollution_mortality_rate                 11964343
comorbidity_mortality_rate               11964343
new_recovered                             9873535
cumulative_recovered                      9874368
dtype: int64

## A raiz de la gran cantidad de nulos encontrados procedemos a analizar cada columna con la finalidad de obtener mas informacion que nos permita tratar de forma adecuada la base de datos

In [13]:
#se filtra la columna location_key para ver sus datos e identificar posibles duplicados
data_latinoamerica_filtro_1.location_key.value_counts()

location_key
AR              991
MX_GRO_12040    991
MX_GRO_12031    991
MX_GRO_12032    991
MX_GRO_12033    991
               ...
BR_PR_411880    991
BR_PR_411885    991
BR_PR_411890    991
BR_PR_411900    991
PE_UCA_0401     991
Name: count, Length: 12079, dtype: int64

### podemos observar que obtenemos datos duplicados de la columna country_code, por lo que filtramos los datos por codigo de pais

In [14]:
data_latinoamerica_filtro_2 = data_latinoamerica [data_latinoamerica["location_key"].isin(["AR","BR","CO","CL","MX","PE"])]
data_latinoamerica_filtro_2.shape

(5946, 50)

In [15]:
# renombramos el dataframe data_latinoamerica_filtro_2 como data_latinoamerica para seguir tratandola
data_latinoamerica = data_latinoamerica_filtro_2

## Transformacion de la columna 'date' a tipo fecha

In [16]:
data_latinoamerica['date'] = pd.to_datetime(data_latinoamerica['date'])

## Se ordena el data set por pais y fecha

In [17]:
# Ordenamos los datos previo a completar los acumulados de las vacunaciones

data_latinoamerica = data_latinoamerica.sort_values(by=['country_name', 'date'], ascending=True)

## Se procede a filtar el dataset para crear el estudio desde el 01/01/2021

In [18]:
# filtramos los datos por fechas para trabajar con datos posteriores al 31/12/2020

data_latinoamerica = data_latinoamerica [data_latinoamerica["date"] > "2020-12-31" ]

data_latinoamerica.shape

(3750, 50)

In [19]:
# Contar la cantidad de valores nulos por columna usando isna() y sum()
valores_nulos = data_latinoamerica.isna().sum()

# Imprimir la cantidad de valores nulos por columna
print("Cantidad de valores nulos por columna:")
print(valores_nulos)

Cantidad de valores nulos por columna:
location_key                                0
date                                        0
country_code                                0
country_name                                0
new_confirmed                              21
new_deceased                               21
cumulative_confirmed                       21
cumulative_deceased                        21
cumulative_vaccine_doses_administered     589
population                                  0
population_male                             0
population_female                           0
population_rural                            0
population_urban                            0
population_density                          0
human_development_index                     0
population_age_00_09                        0
population_age_10_19                        0
population_age_20_29                        0
population_age_30_39                        0
population_age_40_49                        0
population_age_50_59                        0
population_age_60_69                        0
population_age_70_79                        0
population_age_80_and_older                 0
gdp_usd                                     0
gdp_per_capita_usd                          0
latitude                                    0
longitude                                   0
area_sq_km                                  0
smoking_prevalence                          0
diabetes_prevalence                         0
infant_mortality_rate                       0
nurses_per_1000                             0
physicians_per_1000                         0
average_temperature_celsius                42
minimum_temperature_celsius                41
maximum_temperature_celsius                41
rainfall_mm                                90
relative_humidity                          42
population_largest_city                     0
area_rural_sq_km                            0
area_urban_sq_km                            0
life_expectancy                             0
adult_male_mortality_rate                   0
adult_female_mortality_rate                 0
pollution_mortality_rate                    0
comorbidity_mortality_rate                  0
new_recovered                            2119
cumulative_recovered                     2740
dtype: int64

## Se completan los valores faltantes (null) de las columnas 'new_recovered', 'new_deceased' y 'new_confirmed' con ceros

In [20]:
# Rellenar los valores nulos en las columnas 'new_recovered', 'new_deceased' y 'new_confirmed' con ceros
data_latinoamerica['new_recovered'] = data_latinoamerica['new_recovered'].fillna(0)
data_latinoamerica['new_deceased'] = data_latinoamerica['new_deceased'].fillna(0)
data_latinoamerica['new_confirmed'] = data_latinoamerica['new_confirmed'].fillna(0)

## verificamos que se realizen los cambios sin alterr el dataframe y se verifican nulos en otras columnas

In [21]:
data_latinoamerica.isna().sum()

location_key                                0
date                                        0
country_code                                0
country_name                                0
new_confirmed                               0
new_deceased                                0
cumulative_confirmed                       21
cumulative_deceased                        21
cumulative_vaccine_doses_administered     589
population                                  0
population_male                             0
population_female                           0
population_rural                            0
population_urban                            0
population_density                          0
human_development_index                     0
population_age_00_09                        0
population_age_10_19                        0
population_age_20_29                        0
population_age_30_39                        0
population_age_40_49                        0
population_age_50_59                        0
population_age_60_69                        0
population_age_70_79                        0
population_age_80_and_older                 0
gdp_usd                                     0
gdp_per_capita_usd                          0
latitude                                    0
longitude                                   0
area_sq_km                                  0
smoking_prevalence                          0
diabetes_prevalence                         0
infant_mortality_rate                       0
nurses_per_1000                             0
physicians_per_1000                         0
average_temperature_celsius                42
minimum_temperature_celsius                41
maximum_temperature_celsius                41
rainfall_mm                                90
relative_humidity                          42
population_largest_city                     0
area_rural_sq_km                            0
area_urban_sq_km                            0
life_expectancy                             0
adult_male_mortality_rate                   0
adult_female_mortality_rate                 0
pollution_mortality_rate                    0
comorbidity_mortality_rate                  0
new_recovered                               0
cumulative_recovered                     2740
dtype: int64

## Completamos la columna de new_recovered con el promedio de cada pais.

In [22]:
# Calcula el promedio de 'new_recovered' por paÃ­s
promedio_recuperados_por_pais = data_latinoamerica.groupby('country_name')['new_recovered'].mean()

# Rellena los valores nulos en 'new_recovered' con el promedio especÃ­fico para cada paÃ­s
for pais in data_latinoamerica['country_name'].unique():
    mask = (data_latinoamerica['country_name'] == pais)
    data_latinoamerica.loc[mask, 'new_recovered'].fillna(promedio_recuperados_por_pais[pais], inplace=True)

# Verifica si los valores nulos se han llenado correctamente
nulos_new_recovered = data_latinoamerica['new_recovered'].isnull().sum()
print("Cantidad de valores nulos en 'new_recovered' despuÃ©s de llenarlos:", nulos_new_recovered)

Cantidad de valores nulos en 'new_recovered' despuÃ©s de llenarlos: 0

## En el caso de las columnas 'cumulative_confirmed','cumulative_deceased' y 'cumulative_recovered' completamos considerando que el primer dato de cada pais es nulo por lo que se asigna el primer dato first_row [] de cada uno, y en segundo lugar se completa con el acumulado anterior utilizando cumsum()

In [23]:
# VerificaciÃ³n del primer dato
for pais in data_latinoamerica['country_name'].unique():
    mask = (data_latinoamerica['country_name'] == pais)
    first_row = data_latinoamerica.loc[mask].iloc[0]
    
    if pd.isnull(first_row['cumulative_confirmed']):
        data_latinoamerica.loc[mask, 'cumulative_confirmed'] = first_row['new_confirmed']
    
    if pd.isnull(first_row['cumulative_deceased']):
        data_latinoamerica.loc[mask, 'cumulative_deceased'] = first_row['new_deceased']
    
    if pd.isnull(first_row['cumulative_recovered']):
        data_latinoamerica.loc[mask, 'cumulative_recovered'] = first_row['new_recovered']

# CÃ¡lculo acumulativo para filas restantes
for pais in data_latinoamerica['country_name'].unique():
    mask = (data_latinoamerica['country_name'] == pais)
    data_latinoamerica.loc[mask, 'cumulative_confirmed'] = data_latinoamerica.loc[mask, 'new_confirmed'].cumsum()
    data_latinoamerica.loc[mask, 'cumulative_deceased'] = data_latinoamerica.loc[mask, 'new_deceased'].cumsum()
    data_latinoamerica.loc[mask, 'cumulative_recovered'] = data_latinoamerica.loc[mask, 'new_recovered'].cumsum()

# VerificaciÃ³n de valores nulos despuÃ©s de completar los datos
nulos_despues_de_eliminar = data_latinoamerica.isnull().sum()
print("Cantidad de valores nulos despuÃ©s de completar los datos:")
print(nulos_despues_de_eliminar)

Cantidad de valores nulos despuÃ©s de completar los datos:
location_key                               0
date                                       0
country_code                               0
country_name                               0
new_confirmed                              0
new_deceased                               0
cumulative_confirmed                       0
cumulative_deceased                        0
cumulative_vaccine_doses_administered    589
population                                 0
population_male                            0
population_female                          0
population_rural                           0
population_urban                           0
population_density                         0
human_development_index                    0
population_age_00_09                       0
population_age_10_19                       0
population_age_20_29                       0
population_age_30_39                       0
population_age_40_49                       0
population_age_50_59                       0
population_age_60_69                       0
population_age_70_79                       0
population_age_80_and_older                0
gdp_usd                                    0
gdp_per_capita_usd                         0
latitude                                   0
longitude                                  0
area_sq_km                                 0
smoking_prevalence                         0
diabetes_prevalence                        0
infant_mortality_rate                      0
nurses_per_1000                            0
physicians_per_1000                        0
average_temperature_celsius               42
minimum_temperature_celsius               41
maximum_temperature_celsius               41
rainfall_mm                               90
relative_humidity                         42
population_largest_city                    0
area_rural_sq_km                           0
area_urban_sq_km                           0
life_expectancy                            0
adult_male_mortality_rate                  0
adult_female_mortality_rate                0
pollution_mortality_rate                   0
comorbidity_mortality_rate                 0
new_recovered                              0
cumulative_recovered                       0
dtype: int64

## Completamos la columna 'cumulative_vaccine_doses_administered'; en este caso se toma el dato anterior y, en el caso de que fuera el primer dato del subgrupo se toma el dato posterior. Des esta forma se da continuidad a la curva en la grafica.

In [24]:
# Ordenamos los datos previo a completar los acumulados de las vacunaciones
data_latinoamerica = data_latinoamerica.sort_values(by=['country_name', 'date'], ascending=True)

In [25]:
# Reemplazar los valores nulos con el valor siguiente (forward fill)
data_latinoamerica['cumulative_vaccine_doses_administered'] = data_latinoamerica.groupby('country_name')['cumulative_vaccine_doses_administered'].ffill()

# Reemplazar los valores nulos restantes con el valor anterior (backward fill)
data_latinoamerica['cumulative_vaccine_doses_administered'] = data_latinoamerica.groupby('country_name')['cumulative_vaccine_doses_administered'].bfill()

In [26]:
# VerificaciÃ³n de valores nulos despuÃ©s de completar los datos
nulos_despues_de_eliminar = data_latinoamerica.isnull().sum()
print("Cantidad de valores nulos despuÃ©s de completar los datos:")
print(nulos_despues_de_eliminar)

Cantidad de valores nulos despuÃ©s de completar los datos:
location_key                              0
date                                      0
country_code                              0
country_name                              0
new_confirmed                             0
new_deceased                              0
cumulative_confirmed                      0
cumulative_deceased                       0
cumulative_vaccine_doses_administered     0
population                                0
population_male                           0
population_female                         0
population_rural                          0
population_urban                          0
population_density                        0
human_development_index                   0
population_age_00_09                      0
population_age_10_19                      0
population_age_20_29                      0
population_age_30_39                      0
population_age_40_49                      0
population_age_50_59                      0
population_age_60_69                      0
population_age_70_79                      0
population_age_80_and_older               0
gdp_usd                                   0
gdp_per_capita_usd                        0
latitude                                  0
longitude                                 0
area_sq_km                                0
smoking_prevalence                        0
diabetes_prevalence                       0
infant_mortality_rate                     0
nurses_per_1000                           0
physicians_per_1000                       0
average_temperature_celsius              42
minimum_temperature_celsius              41
maximum_temperature_celsius              41
rainfall_mm                              90
relative_humidity                        42
population_largest_city                   0
area_rural_sq_km                          0
area_urban_sq_km                          0
life_expectancy                           0
adult_male_mortality_rate                 0
adult_female_mortality_rate               0
pollution_mortality_rate                  0
comorbidity_mortality_rate                0
new_recovered                             0
cumulative_recovered                      0
dtype: int64

In [27]:
data_latinoamerica.head()

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,...,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
366,AR,2021-01-01,AR,Argentina,2685.0,140.0,2685.0,140.0,18849.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,0.0,0.0
367,AR,2021-01-02,AR,Argentina,7767.0,166.0,10452.0,306.0,20334.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,0.0,0.0
368,AR,2021-01-03,AR,Argentina,4934.0,157.0,15386.0,463.0,20529.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,0.0,0.0
369,AR,2021-01-04,AR,Argentina,13953.0,157.0,29339.0,620.0,25164.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,0.0,0.0
370,AR,2021-01-05,AR,Argentina,14085.0,160.0,43424.0,780.0,29852.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,0.0,0.0

## Guardamos el archivo con un grado elevado de limpieza y transformacion para la siguiente etapa EDA

In [28]:
# Guardamos el dataset ya transformado
data_latinoamerica.to_csv('data_latinoamerica_sample_clean.csv', index=False)